// Colors
$white: #fff;
$lighten-white: #f3f0f0;
$lighten-grey: #dddddd;
$light-grey: #b8bfc6;
$grey: #808080;
$black: #000;

$transparent: transparent;

$blue-grey: #4b6374;
$pale-green: #e8ffcd;
$pale-orange: #ffe5b4;
$pale-red: #ffe4dd;

$flash-blue: #009de3;
$flash-green: #84ef42;
$flash-orange: #fc990b;
$flash-red: #eb0d0d;

$lime-blue: #005dbf;
$lime-green: #8ee06d;
$lime-orange: #fdb44b;
$lime-red: #fd5d54;
